{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Header section -->
    <nav class="header">
        <!-- Logo -->
        <a href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
        </a>
        
        <div class="home">
            <span class="header_text">ЛОГИКА</span>
        </div>
    </nav>
    <hr class="navbar-line">
</body>
</html>

{% block content %}
{% endblock %}