   # Python
   __pycache__/
   *.py[cod]
   *.pyo
   *.pyd
   *.env
   *.venv
   env/
   venv/
   ENV/
   env.bak/
   venv.bak/
   .python-version

   # Django
   *.log
   *.pot
   *.pyc
   *.pyo
   *.pyd
   *.sqlite3
   db.sqlite3
   media/

   # Migrations
   */migrations/*

   # If you're using django-debug-toolbar
   debug.log

   # PyCharm
   .idea/
   
   # VSCode
   .vscode/
   
   # macOS
   .DS_Store

   # Byte-compiled / optimized / DLL files
   *.py[cod]