{% extends "layouts/base.html" %}
{%load static%}
{% load custom_filters %}

{% block content %}

{% if error_message %}
    <div class="row">
        <div class="col-3"></div>
        <div class="mt-5 col-6">
            <h2 class="text-center text-dark">{{ error_message }}<h2>
        </div>
        <div class="col-3"></div>
    </div>
{% else %}

<div class="ask_title">Заявка № {{ ask_number }}</div>

<div class="container">
    <div class="input-section">
        <label for="a">Введите значение первого операнда:</label>
        <select id="a" name="a">
            <option value=False {% if ask.first_operand == False %}selected{% endif %}>0</option>
            <option value=True {% if ask.first_operand == True %}selected{% endif %}>1</option>
        </select>
    </div>
    
    {% for operation in selected_operations %}
    <div class="operation">
        <div class="operation-title">Операция {{ forloop.counter }}: {{ operation.description }}</div>
        <div class="operation-content">
            <img src="{{ operation.photo }}" alt="...">
            <label for="b1">Введите значение второго операнда:</label>
            <select class="form-control" id="second-operands-{{ operation.id }}" name="second-operands">
                <option value="False" {% if second_operands|index:operation.id == False %}selected{% endif %}>0</option>
                <option value="True" {% if second_operands|index:operation.id == True %}selected{% endif %}>1</option>
            </select>                
            <span class="result">Результат = </span>
        </div>
    </div>
    {% endfor %}

    <div class="button-container">
        <button type="submit">Вычислить</button>
    </div>

    <form method="POST" action="{% url "delete_ask" ask.id %}" class="button-container">
        {% csrf_token %}
        <button class="del-btn">Удалить заявку</button>
    </form>
</div>


{% endif %}
{% endblock %}