{% extends "layouts/base.html" %}
{%load static%}

{% block content %}

<div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-8">
        <div class="row">
            {% for operation in operations %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <!-- Operation name section -->
                    <div class="top_card">
                        <div class="head_card">
                            <div class="name_card">
                                {{ operation.name }}
                            </div>
                        </div>
                        <div class="operation_discription">
                            <div class="description_text">
                                {{ operation.description }}
                            </div>
                        </div>
                    </div>
                    
                    <!-- Description section -->


                    <!-- Image section -->
                    <div class="card_content">
                        <img src="{{ operation.photo }}" class="card_image" alt="{{ operation.name }}">
                        
                        <!-- First Button: "Подробнее" -->
                        <a href="{% url 'operation' operation.id %}">
                            <div class="button">
                                <div class="button_text">
                                    Подробнее
                                </div>
                            </div>
                        </a>                        

                        <!-- Second Button: "Добавить заявку" -->
                        <div class="button">
                            <div class="button_text">
                                Добавить заявку
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Sidebar for search -->
    <div class="col-3">
        <div class="input-group mb-3">
            <form class="d-flex" method="GET" action="{% url 'index' %}" role="search">
                <input class="form-control me-2" type="search" name="operation" placeholder="Введите название" style="width: 250px; height: 40px" value="{{ query|default:'' }}">
                <button type="submit" class="btn btn-search btn-fix ps-0" style="height: 40px">
                    <img src="{% static 'img/search.png' %}" height="30px" width="30px">
                </button>
            </form>
        </div>
        <!-- Add a calculator icon button like in the image -->
        <div class="text-center mt-3 position-relative">
            <a href="{% url 'ask' ask_id %}" class="btn btn-outline-warning">
                <img src="{% static 'img/calc_icon.svg' %}" height="150px" width="150px" alt="Calculator">
            </a>
            <span class="badge bg-warning badge-position">{{ count }}</span>
        </div>               
    </div>
</div>

{% endblock %}
