{% extends "layouts/base.html" %}
{%load static%}

{% block content %}


<div class="ask_title d-flex align-items-center justify-content-between">
    <!-- Calculator Button (Left Aligned) -->
    <div class="text-center position-relative">
        <a href="{% url 'ask' ask_id %}" class="btn btn-outline-warning">
            <img src="{% static 'img/calc_icon.svg' %}" height="50px" width="50px" alt="Calculator">
        </a>
        <span class="badge bg-warning badge-position">{{ count }}</span>
    </div>

    <!-- Search Form (Right Aligned) -->
    <div class="input-group mb-3" style="flex: 1; justify-content: flex-end;">
        <form class="d-flex justify-content-end" method="GET" action="{% url 'index' %}" role="search">
            <input class="form-control me-2" type="search" name="operation" placeholder="Введите название" style="width: 250px; height: 40px" value="{{ query|default:'' }}">
            <button type="submit" class="btn btn-search btn-fix ps-0" style="height: 40px">
                <img src="{% static 'img/search.png' %}" height="30px" width="30px">
            </button>
        </form>
    </div>
</div>


<div class="row mt-3 justify-content-center">
    <div class="col-12 col-md-8">
        <div class="row justify-content-center">
            {% for operation in operations %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <!-- Operation name section -->
                    <div class="top_card">
                        <div class="head_card">
                            <div class="name_card">
                                {{ operation.name }}
                            </div>
                        </div>
                        <div class="operation_discription">
                            <div class="description_text">
                                {{ operation.description }}
                            </div>
                        </div>
                    </div>
                    
                    <!-- Image section -->
                    <div class="card_content">
                        <img src="{{ operation.photo }}" class="card_image" alt="{{ operation.name }}">
                        
                        <!-- First Button: "Подробнее" -->
                        <a href="{% url 'operation' operation.id %}">
                            <div class="button">
                                <div class="button_text">
                                    Подробнее
                                </div>
                            </div>
                        </a>                        

                        <!-- Second Button: "Добавить заявку" -->
                        <div class="button">
                            <div class="button_text">
                                Добавить заявку
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



    <!-- Sidebar for search -->
    
</div>

{% endblock %}
