{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="container-desc d-flex justify-content-center align-items-center" style="min-height: 50svh;">
    <div class="module">
        <div class="header-section">
            <div class="header-bg">
                <div class="title">
                    {{ operation.name }}<br>
                    {{ operation.description }}
                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="section">
                <h3 class="subtitle">Диаграмма Вена</h3>
                <div class="venn-diagram">
                    <img src="{{ operation.photo }}" alt="Venn Diagram" class="image" style="height: 145px">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
